@import "styles/variables";
@import "styles/colors";
@import "styles/applets";
@import "styles/bar";
@import "styles/battery";
@import "styles/buttons";
@import "styles/calendar";
@import "styles/controls";
@import "styles/dashboard";
@import "styles/dock";
@import "styles/emoji";
@import "styles/extras";
@import "styles/kanban";
@import "styles/launcher";
@import "styles/metrics";
@import "styles/notch";
@import "styles/notifications";
@import "styles/overview";
@import "styles/pins";
@import "styles/player";
@import "styles/power";
@import "styles/shadows";
@import "styles/systemprofiles";
@import "styles/tools";
@import "styles/tracker";
@import "styles/wallpapers";
@import "styles/workspaces";