$foreground: #dde4e3;
$background: #0e1415;
$cursor: #dde4e3;
$primary: #80d4d6;
$on-primary: #003738;
$secondary: #b0cccc;
$on-secondary: #1b3435;
$tertiary: #b4c8e9;
$on-tertiary: #1e314c;
$surface: #0e1415;
$surface-bright: #343a3a;
$error: #ffb4ab;
$error-dim: #000000;
$on-error: #690005;
$error-container: #93000a;
$outline: #899393;
$shadow: #000000;
$red: #ffb595;
$red-dim: #000000;
$green: #95d5a7;
$green-dim: #000000;
$yellow: #b8cf84;
$yellow-dim: #000000;
$blue: #afc6ff;
$blue-dim: #000000;
$magenta: #e4b7f3;
$magenta-dim: #000000;
$cyan: #80d4d5;
$cyan-dim: #000000;
$white: #82d3e0;
