#calendar {
  /* background-color: var(--shadow); */

  background-color: alpha(var(--secondary), 0.5);
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 2px 4px alpha(var(--shadow), 0.3);
  border-radius: 50px;
  /* border-radius: 8px; */
  padding: 3px 4px 3px 20px;
  border-radius: 20px;
  /* border: 4px solid var(--surface); */
  padding: 4px;
}

#header {
  /* background-color: var(--shadow); */
  background-color: alpha(var(--primary), 0.9);
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 2px 4px alpha(var(--shadow), 0.3);
  border-radius: 50px;
  /* border-radius: 8px; */
  padding: 3px 4px 3px 20px;
  /* border-radius: 12px; */
  /* border: 1px solid var(--surface); */
  padding: 4px;
}

#weekday-row {
  background-color: alpha(var(--secondary), 0.1);
  border: 1px solid alpha(var(--outline), 0.1);
  box-shadow: 0 2px 4px alpha(var(--shadow), 0.3);
  border-radius: 50px;
  /* border-radius: 8px; */
  padding: 3px 4px 3px 20px;
  background-color: var(--surface);
  /* border-radius: 8px; */
  padding: 4px;
}

#month-label,
#weekday-label,
#day-label {
  font-weight: bold;
}

#day-label,
#day-empty {
  min-width: 32px;
  min-height: 32px;
  font-size: 9pt;
}

#day-empty {
  color: var(--surface-bright);
}

#weekday-label {
  color: var(--primary);
  font-size: 9pt;
}

#calendar-grid {
  background-color: alpha(var(--secondary), 0.1);
  border: 1px solid alpha(var(--outline), 0.1);
  box-shadow: 0 2px 4px alpha(var(--shadow), 0.3);
  border-radius: 50px;
  /* border-radius: 8px; */
  /* padding: 3px 4px 3px 20px; */
  border-radius: 16px;
  padding: 4px;
}

#day-label.current-day {
  /* background-color: alpha(var(--secondary), 0.1); */
  border: 1px solid alpha(var(--outline), 0.1);
  box-shadow: 0 2px 4px alpha(var(--shadow), 0.3);
  border-radius: 50px;
  /* border-radius: 8px; */
  /* padding: 3px 4px 3px 20px; */
  background-color: var(--foreground);
  color: var(--shadow);
  border-radius: 20px;
}

#prev-month-button,
#next-month-button {
  background-color: alpha(var(--secondary), 0.1);
  border: 1px solid alpha(var(--outline), 0.1);
  box-shadow: 0 2px 4px alpha(var(--shadow), 0.3);
  border-radius: 50px;
  /* border-radius: 8px; */
  padding: 3px 4px 3px 20px;
  background-color: var(--surface);
  /* border-radius: 8px; */
  padding: 4px;
}

#prev-month-button:hover,
#next-month-button:hover {
  background-color: var(--surface-bright);
}

#prev-month-button:active,
#next-month-button:active {
  background-color: var(--primary);
}

#month-button-label {
  color: var(--primary);
  font-size: 20px;
}

#prev-month-button:active #month-button-label,
#next-month-button:active #month-button-label {
  color: var(--shadow);
}