#kanban {
  /* background-color: var(--shadow); */
  border-radius: 20px;
  border: 4px solid var(--surface);
  padding: 4px;
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 0px 2px alpha(var(--outline), 0.3);
  /* background-color: alpha(var(--secondary), 0.1); */
  
}


#kanban-header {
  border: 2px solid var(--surface);
  border-radius: 12px;
  padding: 4px;
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 0px 2px alpha(var(--outline), 0.3);
  border-radius: 50px;
}

#column-header {
  padding: 4px;
  font-weight: bold;
  color: var(--primary);

}

#kanban-note {
  background-color: alpha(var(--surface), 0.6);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 4px;
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 0px 2px alpha(var(--outline), 0.3);
}

#kanban-row:first-child>*>* {
  border-radius: 16px 16px 4px 4px;
}

#kanban-row:last-child>*>* {
  border-radius: 4px 4px 16px 16px;
}

#inline-editor {
  border: 2px solid var(--surface-bright);
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 0px 2px alpha(var(--outline), 0.3);
  border-radius: 12px;
  padding: 8px;
}

#kanban-btn,
#kanban-btn-add {
  background-color: var(--surface);
  border-radius: 50px;
  /* margin-right: px; */
  padding: 4px;
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 0px 2px alpha(var(--outline), 0.3);
}

#kanban-btn {
  background-color: var(--surface);
  border: 1px solid alpha(var(--outline), 0.2);
  box-shadow: 0 0px 2px alpha(var(--outline), 0.3);
}

#kanban-btn:hover,
#kanban-btn-add:hover {
  background-color: var(--surface-bright);
}

#kanban-btn:active,
#kanban-btn-add:active {
  background-color: var(--primary);
}

#kanban-btn-label,
#kanban-btn-neg {
  font-size: 20px;
  color: var(--primary);
}

#kanban-btn-neg {
  color: white;
}

#kanban-btn:active #kanban-btn-label,
#kanban-btn-add:active #kanban-btn-label {
  color: var(--shadow);
}