#pin-add {
  font-size: 24px;
  color: $surface-bright;
}

#pin-cell-box {
  /* background-color: $shadow; */
  border-radius: $radius-pill;
  padding: $spacing-lg;
  margin: $spacing-md 0px $spacing-md $spacing-md;
  border: 4px solid $surface;
  /* min-height: 160px; */
  border: 1px solid unquote("alpha($outline, 0.2)") ;
  box-shadow: 0 0px 2px unquote("alpha($outline, 0.3)") ;
}

#pin-file,
#pin-url {
  font-weight: bold;
  /* margin-top: -16px; */
  /* margin-bottom: 16px; */
}

#pin-add:hover {
  color: $primary;
}

#pin-text {
  font-weight: bold;
}

#pin-url-icon {
  color: $primary;
}