#systemprofiles {
  background-color: $shadow;
  padding: $spacing-xs;
  border-radius: $radius-lg;
}

#systemprofiles.invert {
  background-color: $surface;
  border-radius: $radius-md;
}

#battery-save,
#battery-balanced,
#battery-performance {
  border-radius: $radius-md;
  min-width: 28px;
  min-height: 28px;
}

#battery-save-label,
#battery-balanced-label,
#battery-performance-label {
  color: $outline;
  font-size: 20px;
}

#battery-save:hover,
#battery-balanced:hover,
#battery-performance:hover {
  background-color: $surface-bright;
}

#battery-save:hover #battery-save-label,
#battery-balanced:hover #battery-balanced-label,
#battery-performance:hover #battery-performance-label {
  color: $primary;
}

#battery-save.active,
#battery-balanced.active,
#battery-performance.active {
  background-color: $primary;
}

#battery-save.active #battery-save-label,
#battery-balanced.active #battery-balanced-label,
#battery-performance.active #battery-performance-label {
  color: $shadow;
}